<div id="save-games">
  <div class="cont-wide">
    <h2>Saved Games</h2>
    <div class="games">
      <ul>
        {{#each games}}
          <li data-game="{{id}}" class="savegame">
            <div class="savegame-info">
              <div class="name text-field savegame-info-name">
                <input type="text" value="{{#if name}}{{name}}{{/if}}" placeholder="Auto-save {{id}}" data-game="{{id}}">
                <div class="savegame-status-input savegame-status-saving">Saving...</div>
                <div class="savegame-status-input savegame-status-saved">Saved</div>
              </div>
              <div class="savegame-info-lastplayed">
                Last played: {{date updatedAt "MMMM Do YYYY, h:mm a"}}
              </div>
              <div class="savegame-info-started">
                Started: {{date createdAt "l"}}
              </div>
            </div>
            <div class="savegame-actions">
              <button class="savegame-actions-play btn" data-game="{{id}}">Play</button>
              <button class="savegame-actions-delete btn" data-game="{{id}}">Delete</button>
            </div>
            <div class="savegame-status-deleting">
              Deleting...
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
